doctype html

//- include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/style.css")
    //- script(src="https://unpkg.com/axios/dist/axios.min.js")

  body
    noscript You need to enable JavaScript to run this app.
    .wrapper 
      block main

    script(src="/js/axios.min.js" type="module")
    script(src="/js/main.js" type="module")
